body {
    background-color: black;
    display: flex;
    flex-direction: column;
    align-self: center;

}

h2, h3 {
    text-align: center;
    color : white;
}

table, tr, td {
    color: white;
    text-align: center;
    border: 2px solid white;
    border-spacing: 10px;
    padding: 5px;
    height: 40px;
    align-self: center;
}

td {
    width: 40px;
}

.app-center-button{
    align-self: center;
}

.app-green {
    background-color: green;
}

.app-red {
    background-color: red;
}