body {
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h2, h3, h4 {
    text-align: center;
    color : white;
}

table tr td {
    color: white;
    text-align: center;
    border: 2px solid white;
    border-spacing: 10px;
    padding: 5px;
    height: 40px;
    align-items: center;
    width: 40px;

}

table {
    border: 2px solid white;
}

.app-center-button{
   align-self: center;
   
}
.app-green {
    background-color: green;
}

.app-red {
    background-color: red;
}


/* Thank you Anto for fixing the chrome issue with fleboxes :)